{% extends 'back.base.html.twig' %}

{% block title %}Sign In{% endblock %}

{% block body %}
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="../../images/logos.svg" alt="logo">
              </div>
              <h4>Hello! let's get started</h4>
              <h6 class="font-weight-light">Sign in to continue.</h6>
              <form action="{{ path('app_login') }}" method="post" novalidate>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {% if error %}
                  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
               <div class="col-12">
                                        <p class="small mb-0">Don't Have an account? <a href="{{ path('registration') }}">Sign up</a></p>
                                    </div>
                                     <div class="col-12">
                                        <p class="small mb-0">forgot your password? <a href="{{ path('forgot') }}">reset password</a></p>
                                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</body>
{% endblock %}
