{% extends 'front.base.html.twig' %}

{% block title %}Hello About!{% endblock %}

{% block body %}

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
            <div class="header-area ">
                <div id="sticky-header" class="main-header-area">
                    <div class="container-fluid ">
                        <div class="header_bottom_border">
                            <div class="row align-items-center">
                                <div class="col-xl-2 col-lg-2">
                                    <div class="logo">
                                        <a href="/">
                                            <img src="img/logo.png" style="width: 100px !important;" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-7">
                                    <div class="main-menu  d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="/">home</a></li>
                                                <li><a href="/about">about</a></li>
                                                <li><a href="/pricing">pricing</a></li>
                                                <li><a href="/gallery">gallery</a></li>
                                                <li><a href="/">pages <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        
                                                        <li><a href="/elements">elements</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/">blog <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="/blog">blog</a></li>
                                                        <li><a href="/singleBlog">single-blog</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/contact">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
<<<<<<<< Updated upstream:templates/front/Programme/pricing.html.twig
                                <div class="col-xl-1">
                                    <div class="btn-group pannier">
                                        <a class="btn btn-secondary pannier-icon" href="/panier">
                                            <i class="fas fa-shopping-basket"></i>
                                        </a>
                                    </div>
                                </div>
========
>>>>>>>> Stashed changes:templates/front/panier/pricing.html.twig

                                <div class="col-xl-2 col-lg-3 d-none d-lg-block">
                                    <div class="Appointment">
                                        <div class="book_btn d-none d-lg-block">
                                            <a href="/">Join Us</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mobile_menu d-block d-lg-none"></div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->
<<<<<<<< Updated upstream:templates/front/Programme/pricing.html.twig
    <!-- bradcam_area -->
    <!-- bradcam_area end -->

    <div class="priscing_area">
            <div class="container">
            <center><h2 style="color:white">Programme</h2></center>
                  <form class="mb-4 px-1" action="{{ path('app_front_Programme') }}" method="get">
                    <div class="row">
                    
                      <div class="col-lg-2">
                          <label for="search_by" class="form-label">Search By:</label>
                          <select class="form-select" id="search_by" name="search_by">
                              <option value="nom">Nom</option>
                              <option value="description">Description</option>
                              <option value="duree">Duree</option>
                          </select>
                      </div>
                      <div class="mt-4 col-lg-10">
                        <div class="mt-2 input-group">
                        <input type="text" class="form-control" name="search" placeholder="Search..." value="{{ app.request.query.get('search') }}">
                        <button type="submit" class="btn btn-primary ml-4">Search</button>
                        </div>
                      </div>
                      <div class="mt-2 col-lg-2">
                          <label for="sort_by" class="form-label">Sort By:</label>
                          <select class="form-select" id="sort_by" name="sort_by">
                              <option value="nom">Nom</option>
                              <option value="description">Description</option>
                              <option value="duree">Duree</option>
                          </select>
                      </div>
                      <div class="mt-2 col-lg-2">
                          <label for="sort_order" class="form-label">Sort Order:</label>
                          <select class="form-select" id="sort_order" name="sort_order">
                              <option value="asc">Ascending</option>
                              <option value="desc">Descending</option>
                          </select>
                      </div>
                    </div>
            
                    <button type="submit" class="btn btn-primary mt-2">Sort</button>
                  </form>
            <br/>
                <div class="row">
                    {% for programme in programmes %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single_prising text-center">
                                <div class="prising_header">
                                        <h3>{{programme.getNom()}}</h3>
                                        <span>{{programme.duree}} </span>
                                </div>

                    
                                <div class="pricing_body p-4 text-justify">
                                    <br/>
                                    <p class="descriptionProduitFront">{{programme.getDescription()}}</p>
                                                       </div>
                                                             <div class="pricing_btn">
                <a href="{{ path('app_front_Programme_sendSms', {'id': programme.id}) }}" class="boxed-btn3">send</a>
                            </div>
                                </div>
                          
                        </div>
                    {% endfor %}
========
    <div class="priscing_area">
            <div class="container">
            <center>
                <h2 class="text-white">Panier</h2>
            </center>
            <br/>
                <div class="row">
                    {% for panierProduit in panierProduits %}
                        
                        {% for produit in produits %}
                            {% if produit.getId() == panierProduit.getProduitId() %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="single_prising text-center">
                                        <div class="prising_header">
                                                <h3>{{produit.getNom()}} <code>({{panierProduit.getQuantite()}})</code> <a href="/panier/produit/removeOne/{{ produit.getId() }}">⛔</a></h3>
                                                <span>{{produit.getPrix()}} DT</span>
                                        </div>
                                        <div class="pricing_body p-4 text-justify">
                                            <center>
                                                <img style="width:200px;" src="https://static.vecteezy.com/ti/vecteur-libre/p1/4596307-gym-symbol-equipment-sport-equipment-gain-mass-supplement-digital-stopwatch-and-dumbbell-in-cartoon-flat-illustration-collection-set-vector-in-white-background-vectoriel.jpg"/>
                                            </center>
                                            <br/>
                                            <p class="descriptionProduitFront">{{produit.getDescription()}}</p>
                                            <p class="pt-4">Category: <strong>{{ produit.getCategorie() }}</strong></p>
                                        </div>
                                        <div class="pricing_btn">
                                            <a href="/panier/produit/delete/{{ produit.getId() }}" class="boxed-btn3">Remove item</a>                                            
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}             
                        
                    {% endfor %}
                </div>
                
                <div style="display: flex;" >
                    {% if prixTotal > 0 %}
                        <h4 class="text-white m-4">Prix Total:</h4>  
                        <h2 class="pr-4" style="color:green"> {{ prixTotal }} DT</h2>
                        <a href="/pay/{{ prixTotal }}" class="boxed-btn3 m-2">Pay</a>
                        <a href="/panier/print" class="boxed-btn3 m-2">Print</a>
                    {% else %}
                        <h4 class="text-white m-4">Pannier Empty...</h4>  
                    {% endif %}    
>>>>>>>> Stashed changes:templates/front/panier/pricing.html.twig
                </div>
            </div>
        </div>




    <!-- footer_start  -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="/">
                                    <img src="img/footer_logo.png" alt="">
                                </a>
                            </div>
                            <p>5th flora, 700/D kings road, green <br> lane New York-1782 <br>
                                <a href="/">+10 367 826 2567</a> <br>
                                <a href="/">contact@carpenter.com</a>
                            </p>
                            <p>



                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="/">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4 offset-xl-1">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Useful Links
                            </h3>
                            <ul>
                                <li><a href="/">Pricing</a></li>
                                <li><a href="/">About</a></li>
                                <li><a href="/"> Gallery</a></li>
                                <li><a href="/"> Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Subscribe
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Subscribe</button>
                            </form>
                            <p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems
                                luckily.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
{% endblock %}
